---
import { testimonials } from "../data/testimonials.json";
import { tiers } from "../data/pricing.json";
import { faq } from "../data/faq.json";

// Layout
import Layout from "../layouts/Layout.astro";

// Components
import RadialGradientCircle from "../components/atoms/RadialGradientCircle.jsx";
import ListItem from "../components/atoms/ListItem.astro";
import Testimonial from "../components/molecules/Testimonial.jsx";
import PricingTier from "../components/molecules/PricingTier.jsx";
import CurvedDivider from "../components/atoms/svg/CurvedDivider.jsx";
import FullCurvedDivider from "../components/atoms/svg/FullCurvedDivider.jsx";
import FaqItem from "../components/molecules/FaqItem.jsx";
import Button from "../components/atoms/Button";
---

<Layout>
  <section class="relative pt-16 md:pt-24 lg:pt-28 xl:pt-32 2xl:pt-36">
    <div class="relative flex flex-col gap-16 md:gap-24 2xl:gap-28">
      <div class="container flex flex-col gap-8 md:gap-10 xl:gap-12">
        <div
          class="flex flex-col gap-4 text-center sm:gap-5 md:gap-6 2xl:gap-8 lg:max-w-3xl lg:mx-auto"
        >
          <h1
            class="animate-float-in-once opacity-0 animation-delay-700 transition-all leading-[1.1] sm:text-5xl md:text-6xl 2xl:text-7xl"
          >
            Build high <span
              class="text-transparent bg-clip-text from-secondary-600 to-primary-500 bg-gradient-to-r"
              >converting</span
            > landing pages in minutes
          </h1>
          <p
            class="transition-all opacity-0 animate-float-in-once animation-delay-1000 lg:text-lg"
          >
            Quickly create insanely fast, mobile optimized AMP landing pages
            without any code using PagePanda, the landing page builder for ROI
            driven marketers.
          </p>
        </div>
        <div
          class="flex flex-col gap-4 transition-all sm:flex-row sm:justify-center"
        >
          <Button
            text="Get started for free"
            link="#"
            classes="button--primary animate-float-in-once opacity-0 animation-delay-1200"
            client:load
          />
          <Button
            text="Plans & pricing"
            link="#plans-and-pricing"
            classes="button--white animate-float-in-once opacity-0 animation-delay-1300"
          />
        </div>
      </div>
      <div class="relative">
        <div class="container pb-16 sm:pb-20">
          <img
            src="pp-mockup.webp"
            alt="Our user-friendly editor lets you effortlessly arrange and style"
            class="w-full transition-all opacity-0 pointer-events-none animate-float-in-once animation-delay-1500"
          />
        </div>
        <FullCurvedDivider
          classes="absolute -bottom-1/4 w-full -z-10 opacity-0 animate-float-in-once animation-delay-1600"
        />
      </div>
    </div>
    <RadialGradientCircle
      classes="top-1/4 translate-y-[-25%] left-1/2 translate-x-[-50%] sm:w-[40rem] md:w-[48rem] lg:w-[56rem] xl:w-[64rem] 2xl:w-[72rem]"
      opacity={30}
    />
  </section>
  <section
    class="relative pt-12 sm:pt-16 md:pt-40 lg:pt-[18rem] xl:pt-[28rem] 2xl:pt-[32rem]"
  >
    <div
      class="container grid items-center grid-cols-1 gap-12 md:grid-cols-2 md:gap-14 lg:gap-16 xl:gap-20 2xl:gap-24"
    >
      <div class="relative">
        <img
          src="pp-drag-drop.webp"
          alt="Our user-friendly editor lets you effortlessly arrange and style your content. No more wrestling with code or clunky interfaces. Design your landing pages with ease and creativity."
          class="object-contain w-full h-auto md:absolute md:left-full md:-translate-x-full md:top-1/2 md:-translate-y-1/2 md:min-w-[40rem] lg:min-w-[56rem] xl:min-w-[64rem] 2xl:min-w-[72rem]"
        />
      </div>
      <div class="flex flex-col gap-4 md:gap-6 2xl:gap-8">
        <div class="flex flex-col gap-2 lg:gap-3">
          <h4 class="text-caption--md text-secondary-600">
            No coding required
          </h4>
          <h3 class="text-h2">Drag & Drop builder</h3>
        </div>
        <p>
          Our user-friendly editor lets you effortlessly arrange and style your
          content. No more wrestling with code or clunky interfaces. Design your
          landing pages with ease and creativity.
        </p>
      </div>
    </div>
    <RadialGradientCircle classes="top-0" />
  </section>
  <section
    class="relative pt-12 sm:pt-16 md:pt-40 lg:pt-[18rem] xl:pt-[28rem] 2xl:pt-[32rem]"
  >
    <div
      class="container grid items-center grid-cols-1 gap-12 md:grid-cols-2 md:gap-14 lg:gap-16 xl:gap-20 2xl:gap-24"
    >
      <div class="relative md:order-2">
        <img
          src="pp-converting-templates.webp"
          alt="Our user-friendly editor lets you effortlessly arrange and style
your content. No more wrestling with code or clunky interfaces.
Design your landing pages with ease and creativity."
          class="object-contain w-full h-auto md:absolute md:right-full md:translate-x-full md:top-1/2 md:-translate-y-1/2 md:min-w-[40rem] lg:min-w-[56rem] xl:min-w-[64rem] 2xl:min-w-[72rem]"
        />
      </div>
      <div class="flex flex-col gap-6 md:gap-8 lg:gap-10 xl:gap-12">
        <div class="flex flex-col gap-4 md:gap-6 2xl:gap-8">
          <div class="flex flex-col gap-2 lg:gap-3">
            <h4 class="text-caption--md text-secondary-600">
              Templates that get results
            </h4>
            <h3 class="text-h2">
              High converting templates for every use case
            </h3>
          </div>
          <p>
            Explore our library of high-converting templates, thoughtfully
            designed for a wide range of use cases. Whether you're launching a
            product, promoting an event, or building your email list, PagePanda
            has the perfect template to help you achieve your goals.
          </p>
        </div>
        <ul class="flex flex-col gap-4">
          <ListItem title="Try out different messaging & designs" />
          <ListItem title="Measure test results & optimize campaigns" />
        </ul>
      </div>
    </div>
    <RadialGradientCircle
      classes="bottom-1/3 -left-1/3 -translate-x-[-33.333%]"
    />
  </section>
  <section
    class="py-14 sm:py-16 md:py-24 lg:py-32 xl:py-36 2xl:py-40 mt-12 sm:mt-16 md:mt-40 lg:mt-48 xl:mt-[24rem] bg-gradient-to-br from-neutral-950 to-neutral-900"
  >
    <div
      class="container grid items-center grid-cols-1 gap-12 md:grid-cols-2 md:gap-14 lg:gap-16 xl:gap-20 2xl:gap-24"
    >
      <div class="relative">
        <img
          src="pp-everything-you-need.webp"
          alt="Our user-friendly editor lets you effortlessly arrange and style
your content. No more wrestling with code or clunky interfaces.
Design your landing pages with ease and creativity."
          class="object-contain w-full h-auto"
        />
      </div>
      <div class="flex flex-col gap-6 md:gap-8 lg:gap-10 xl:gap-12">
        <div class="flex flex-col gap-4 md:gap-6 2xl:gap-8">
          <div class="flex flex-col gap-2 lg:gap-3">
            <h4 class="text-caption--md text-secondary-600">
              Unleash your creativity, build your success
            </h4>
            <h3 class="text-h2">
              Everything you need to build better landing pages quickly
            </h3>
          </div>
          <p>
            PagePanda is your one-stop solution for crafting exceptional landing
            pages with ease. Whether you're a seasoned designer or just starting
            out, our intuitive platform equips you with the tools to create
            stunning pages that leave a lasting impact.
          </p>
        </div>
        <ul class="flex flex-col gap-4">
          <ListItem title="Over a million free stock images from Unsplash" />
          <ListItem title="More than 8000 free icons and SVG support" />
          <ListItem title="Built-in Google Fonts" />
          <ListItem title="More than 50 prebuilt templates" />
        </ul>
        <Button
          link="#"
          classes="button--primary"
          text="Get started for free"
          client:load
        />
      </div>
    </div>
  </section>
  <section class="relative pt-14 sm:pt-16 md:pt-24 lg:pt-28 xl:pt-32 2xl:pt-36">
    <div
      class="container flex flex-col gap-14 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28"
    >
      <div class="flex flex-col gap-2 text-center">
        <h4 class="text-caption--md text-secondary-600">
          Don’t just take our word for it
        </h4>
        <h2 class="text-h1">What our customers are saying</h2>
      </div>
      <div
        class="grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-6 md:gap-12 lg:gap-14 xl:gap-16 2xl:gap-24"
      >
        {
          testimonials
            .slice(0, 6)
            .map((testimonial: any) => (
              <Testimonial
                image={testimonial.image}
                name={testimonial.name}
                text={testimonial.text}
                jobTitle={testimonial.jobTitle}
              />
            ))
        }
      </div>
    </div>
    <RadialGradientCircle
      classes="top-0 lg:-top-1/4 left-1/2 -translate-x-1/2"
    />
  </section>
  <section
    class="relative pb-8 pt-14 sm:pt-16 md:pt-24 lg:pt-28 xl:pt-32 2xl:pt-36 sm:pb-10 md:pb-12 lg:pb-14 xl:pb-16 2xl:pb-20"
    id="plans-and-pricing"
  >
    <div class="container flex flex-col gap-14 md:gap-16 lg:gap-20 xl:gap-24">
      <div class="flex flex-col gap-4 text-center lg:gap-6">
        <div class="flex flex-col gap-2">
          <h4 class="text-caption--md text-secondary-600">
            Start free, pay as you go after
          </h4>
          <h2 class="text-h1">Pricing</h2>
        </div>
        <p class="max-w-3xl mx-auto opacity-75 xl:text-lg">
          Create stunning landing pages for free with your entire team. upgrade
          to unlock limitless designs, robust security controls, and advanced
          features.
        </p>
      </div>
      <div class="flex flex-col gap-8">
        <div
          class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 sm:gap-6 xl:gap-8 xl:items-center"
        >
          {
            tiers.map((tier: any, index: number) => (
              <PricingTier
                plan={tier.plan}
                title={tier.title}
                features={tier.features}
                price={tier.price}
                button={tier.button}
                userNumber={tier.users}
                classes={
                  index === tiers.length - 1
                    ? "col-span-full lg:col-span-1"
                    : ""
                }
                client:load
              />
            ))
          }
        </div>
        <p class="font-medium text-center">
          For enterprise plans, please <a href="#" class="text-primary-500"
            >contact our sales team</a
          >
        </p>
      </div>
    </div>
    <RadialGradientCircle classes="inset-0 m-auto" />
  </section>
  <section class="relative" id="faq">
    <CurvedDivider />
    <div class="text-black bg-primary-500 py-14">
      <div class="container flex flex-col items-center gap-12 xl:gap-16">
        <div class="flex flex-col gap-2 text-center">
          <h4 class="text-caption--md text-secondary-600">
            Perhaps we can already answer your question here
          </h4>
          <h2 class="text-h1">Frequently asked questions</h2>
        </div>
        <ul class="flex flex-col w-full gap-4 lg:max-w-4xl">
          {
            faq
              .slice(0, 10)
              .map((item: any, index: number) => (
                <FaqItem
                  question={item.question}
                  answer={item.answer}
                  initiallyExpanded={index === 0}
                  client:load
                />
              ))
          }
        </ul>
      </div>
    </div>
    <CurvedDivider flipVertical={true} />
  </section>
</Layout>
