---
import { testimonials } from "../data/testimonials.json";
import { tiers } from "../data/pricing.json";
import { faq } from "../data/faq.json";

// Layout
import Layout from "../layouts/Layout.astro";

// Components
import BackgroundRadialGradient from "../components/atoms/BackgroundRadialGradient.astro";
import ListItem from "../components/atoms/ListItem.astro";
import Testimonial from "../components/molecules/Testimonial.jsx";
import PricingTier from "../components/molecules/PricingTier.jsx";
import CurvedDivider from "../components/atoms/svg/CurvedDivider.jsx";
import FullCurvedDivider from "../components/atoms/svg/FullCurvedDivider.jsx";
import FaqItem from "../components/molecules/FaqItem.jsx";
import Button from "../components/atoms/Button";
---

<Layout>
  <section class="relative pt-12 sm:pt-24">
    <div class="relative flex flex-col gap-16 sm:gap-20 lg:gap-24 xl:gap-28">
      <div class="container flex flex-col gap-8">
        <div class="flex flex-col gap-4 sm:gap-5 md:gap-6 text-center">
          <h1 class="leading-[1.1]">
            Build high <span
              class="text-transparent bg-clip-text from-secondary-600 to-primary-500 bg-gradient-to-r"
              >converting</span
            > landing pages in minutes
          </h1>
          <p class="opacity-75">
            Quickly create insanely fast, mobile optimized AMP landing pages
            without any code using PagePanda, the landing page builder for ROI
            driven marketers.
          </p>
        </div>
        <div class="flex flex-col sm:flex-row sm:justify-center gap-4">
          <Button
            text="Get started for free"
            link="#"
            classes="button--primary"
          />
          <Button
            text="Plans & pricing"
            link="#plans-and-pricing"
            classes="button--white"
          />
        </div>
      </div>
      <div class="container pb-16 sm:pb-20">
        <img
          src="pp-mockup.png"
          alt="Our user-friendly editor lets you effortlessly arrange and style"
          class="w-full pointer-events-none"
        />
      </div>
      <FullCurvedDivider classes="absolute -bottom-1/3 w-full -z-10" />
    </div>
    <BackgroundRadialGradient classes="top-56" />
  </section>
  <section class="relative pt-14 sm:pt-16 md:pt-24 lg:pt-28 xl:pt-32 2xl:pt-36">
    <div
      class="container grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-14 items-center"
    >
      <div class="relative">
        <img
          src="pp-drag-drop.png"
          alt="Our user-friendly editor lets you effortlessly arrange and style your content. No more wrestling with code or clunky interfaces. Design your landing pages with ease and creativity."
          class="w-full h-auto object-contain"
        />
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <h4 class="text-caption--md text-secondary-600">
            No coding required
          </h4>
          <h2>Drag & Drop builder</h2>
        </div>
        <p>
          Our user-friendly editor lets you effortlessly arrange and style your
          content. No more wrestling with code or clunky interfaces. Design your
          landing pages with ease and creativity.
        </p>
      </div>
    </div>
    <BackgroundRadialGradient classes="-right-40 top-36" />
  </section>
  <section class="relative py-14 sm:py-16 md:py-24 lg:py-28 xl:py-32 2xl:py-36">
    <div
      class="container grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-14 items-center"
    >
      <div class="relative order-2">
        <img
          src="pp-converting-templates.png"
          alt="Our user-friendly editor lets you effortlessly arrange and style
your content. No more wrestling with code or clunky interfaces.
Design your landing pages with ease and creativity."
          class="w-full h-auto object-contain"
        />
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <h4 class="text-caption--md text-secondary-600">
              Templates that get results
            </h4>
            <h2>High converting templates for every use case</h2>
          </div>
          <p>
            Explore our library of high-converting templates, thoughtfully
            designed for a wide range of use cases. Whether you're launching a
            product, promoting an event, or building your email list, PagePanda
            has the perfect template to help you achieve your goals.
          </p>
        </div>
        <ul class="flex flex-col gap-4">
          <ListItem title="Try out different messaging & designs" />
          <ListItem title="Measure test results & optimize campaigns" />
        </ul>
      </div>
    </div>
  </section>
  <section
    class="py-14 sm:py-16 md:py-24 lg:py-28 xl:py-32 2xl:py-36 bg-[#151515]"
  >
    <div
      class="container grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-14 items-center"
    >
      <div class="relative">
        <img
          src="pp-everything-you-need.png"
          alt="Our user-friendly editor lets you effortlessly arrange and style
your content. No more wrestling with code or clunky interfaces.
Design your landing pages with ease and creativity."
          class="w-full h-auto object-contain"
        />
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <h4 class="text-caption--md text-secondary-600">
              Unleash your creativity, build your success
            </h4>
            <h2>Everything you need to build better landing pages quickly</h2>
          </div>
          <p>
            PagePanda is your one-stop solution for crafting exceptional landing
            pages with ease. Whether you're a seasoned designer or just starting
            out, our intuitive platform equips you with the tools to create
            stunning pages that leave a lasting impact.
          </p>
        </div>
        <ul class="flex flex-col gap-4">
          <ListItem title="Over a million free stock images from Unsplash" />
          <ListItem title="More than 8000 free icons and SVG support" />
          <ListItem title="Built-in Google Fonts" />
          <ListItem title="More than 50 prebuilt templates" />
        </ul>
      </div>
    </div>
  </section>
  <section class="relative pt-14 sm:pt-16 md:pt-24 lg:pt-28 xl:pt-32 2xl:pt-36">
    <div class="container flex flex-col gap-14">
      <div class="flex flex-col gap-2 text-center">
        <h4 class="text-caption--md text-secondary-600">
          Don’t just take our word for it
        </h4>
        <h2>What our customers are saying</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        {
          testimonials
            .slice(0, 6)
            .map((testimonial: any) => (
              <Testimonial
                image={testimonial.image}
                name={testimonial.name}
                text={testimonial.text}
                jobTitle={testimonial.jobTitle}
              />
            ))
        }
      </div>
    </div>
    <BackgroundRadialGradient classes="-top-64" />
  </section>
  <section
    class="relative py-14 sm:py-16 md:py-24 lg:py-28 xl:py-32 2xl:py-36"
    id="plans-and-pricing"
  >
    <div class="container flex flex-col gap-14">
      <div class="flex flex-col gap-2 text-center">
        <h4 class="text-caption--md text-secondary-600">
          Start free, pay as you go after
        </h4>
        <h2>Pricing</h2>
        <p class="opacity-75">
          Create stunning landing pages for free with your entire team. upgrade
          to unlock limitless designs, robust security controls, and advanced
          features.
        </p>
      </div>
      <div class="flex flex-col gap-8">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-4"
        >
          {
            tiers.map((tier: any, index: number) => (
              <PricingTier
                plan={tier.plan}
                title={tier.title}
                features={tier.features}
                price={tier.price}
                button={tier.button}
                userNumber={tier.users}
                classes={
                  index === tiers.length - 1
                    ? "last:col-span-full last:lg:col-span-1"
                    : ""
                }
                client:load
              />
            ))
          }
        </div>
        <p class="font-medium text-center">
          For enterprise plans, please <a href="#" class="text-primary-500"
            >contact our sales team</a
          >
        </p>
      </div>
    </div>
    <BackgroundRadialGradient classes="top-1/4 lg:top-1/3 opacity-50" />
  </section>
  <section class="relative" id="faq">
    <CurvedDivider />
    <div
      class="bg-primary-500 text-black py-14 sm:py-16 md:py-24 lg:py-28 xl:py-32 2xl:py-36"
    >
      <div class="container flex flex-col items-center gap-12">
        <div class="flex flex-col gap-2 text-center">
          <h4 class="text-caption--md text-secondary-600">
            Perhaps we can already answer your question here
          </h4>
          <h2>Frequently asked questions</h2>
        </div>
        <ul class="flex flex-col gap-4 w-full lg:max-w-4xl">
          {
            faq
              .slice(0, 10)
              .map((item: any, index: number) => (
                <FaqItem
                  question={item.question}
                  answer={item.answer}
                  initiallyExpanded={index === 0}
                  client:load
                />
              ))
          }
        </ul>
      </div>
    </div>
    <CurvedDivider flipVertical={true} />
  </section>
</Layout>
