---
export interface Props {
  image: string;
  name: string;
  text: string;
  jobTitle: string;
}
const { image, name, jobTitle, text } = Astro.props;
---

<div class="flex flex-col gap-6 bg-[#0F0F0F] p-6 pt-12 rounded-lg relative">
  <p class="leading-relaxed">{text}</p>
  <div class="flex gap-4">
    <img src={image} alt={name} class="w-16 h-16 rounded-full object-cover" />
    <div class="flex flex-col gap-1">
      <h3>{name}</h3>
      <h4 class="text-caption--md text-secondary-500">
        {jobTitle}
      </h4>
    </div>
  </div>
  <img
    src="quotes.svg"
    class="absolute left-4 -top-8 leading-none w-16 h-16 grid items-center justify-center"
  />
</div>
